<!DOCTYPE html>
<head>
    <title>::Contact Us::</title>
</head>
<body>
    <h2 align=center>Django Crud Operations</h2><hr color="red"><hr color="red"> 
    <br><br>
    <a href="{% url 'index' %}">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'adminlogin' %}">Admin</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'userreg' %}">User Registration</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'userlogin' %}">User Login</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'contactuspage' %}">Contact Us</a>
    <br><br><br>
</body>
</html>