<!DOCTYPE html>
<head>
    <title>::User Login::</title>
</head>
<body>
    <h2 align=center>Django Crud Operations</h2><hr color="red"><hr color="red"> 
    <br><br>
    <a href="{% url 'index' %}">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'adminlogin' %}">Admin</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'userreg' %}">User Registration</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'userlogin' %}">User Login</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'contactuspage' %}">Contact Us</a>
    <br><br><br>
    <h3 align=center><u>User Login</u></h3>
    <form method="post" action="{% url 'checkuser' %}">
        {% csrf_token %}
        <table align="center">
            <tr>
                <td><b style="color:blue">Enter Username</b></td>
                <td><input type="text" name="uname" required></td>
            </tr>
            <tr>
                <td><b style="color:blue">Enter Password</b></td>
                <td><input type="password" name="pwd" required></td>
            </tr>
            <tr>
                <td align="center"><input type="submit" value="Login"></td>
                <td align="center"><input type="reset" value="clear"></td>
            </tr>
        </table>
    </form>
</body>
</html>