<!DOCTYPE html>
<head>
    <title>::User Registration::</title>
</head>
<body>
    <h2 align=center>Django Crud Operations</h2><hr color="red"><hr color="red"> 
    <br><br>
    <a href="{% url 'index' %}">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'adminlogin' %}">Admin</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'userreg' %}">User Registration</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'userlogin' %}">User Login</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'contactuspage' %}">Contact Us</a>
    <br><br><br>
    <h3 align=center><u>User Registration</u></h3>
    <br><br>
    {% load crispy_forms_tags %}
    <center>
    <form method="post">
        {% csrf_token %}
        
        {% for field in form %}
            {{ field | as_crispy_field }}
        {% endfor %}
        <br><br>
    <input type="submit" value="Register">
    </form>
    </center>
</body>
</html>